
/* .menu_side{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 20%;
    background-color: #111727;
    box-shadow: 5px 0px 2px #090f1f;
    color: #fff;
} */
.menu{
    overflow: hidden;
}
.side_content_1{
    display:flex;
    flex-direction: column;
    margin-left: 5%;
}


.side_content_1 h4 {
    font-size: 15px;
    font-weight: 400;
    color: #4c5262;
    cursor: pointer;
    display: flex;
    transition: .3s linear;
}
.side_content_1 h4:hover{
    color: #fff;
}

.content-icon{
    padding-right: 5px;
    padding-top: 1px
}

.app-name{
    margin-left: 5%;  
    display:flex;
}

.music-icon{
    padding-right: 5px;
    padding-top: 3px;
}


.side_content_2{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5%;
}

.side_content_2 li{
    list-style-type: none;
    margin-top: 45px;
    transition: .3s linear;
    cursor: pointer;
    font-weight: 400;
    color: #4c5262;
}

.side_content_2 li:hover{
    color: #fff;
}


