
.button{
    display:flex;
    flex-direction: row;
}

.signup {
    cursor: pointer;
    border: 0;
    border-radius: 20px;
    font-weight: 600;
    margin: 0 3px;
    width: 80px;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
    transition: 0.4s;
} 
.login {
    cursor: pointer;
    border: 0;
    border-radius: 20px;
    font-weight: 600;
    margin: 0 3px;
    width: 80px;
    padding: 10px 0;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.2);
    transition: 0.4s;
} 
.login {
    color: white;
    background-color: rgba(104, 85, 224, 1);
}
  
.signup {
    color: black;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(104, 85, 224, 1);
}
  
.signup:hover {
    color: white;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
    background-color: rgba(104, 85, 224, 1);
}
.login:hover {
    color: white;
    box-shadow: 0 0 20px rgba(104, 85, 224, 0.6);
    background-color: rgba(104, 85, 224, 1);
}